<div class="" style="padding-top: 0px;">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <!-- <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="hideDescription()">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-folder-close">
                                </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-pencil text-primary"></span>
                                <a href="" ng-click="showDescription('Articles')">Articles</a>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-click="showDescription('Articles 1')">
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>
                                        <a href="">Articles 1</a>
                                    </li>
                                    <li class="list-group-item" ng-click="showDescription('Articles 2')">
                                        <span class="glyphicon glyphicon-flash text-success"></span>
                                        <a href="">Articles 2</a>
                                    </li>
                                    <li class="list-group-item" ng-click="showDescription('Articles 3')">
                                        <span class="glyphicon glyphicon-file text-info"></span>
                                        <a href="">Articles 3</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-flash text-success"></span>
                                <a href="" ng-click="showDescription('News')">News</a>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-click="showDescription('News 1')">
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>
                                        <a href="">News 1</a>
                                    </li>
                                    <li class="list-group-item" ng-click="showDescription('News 2')">
                                        <span class="glyphicon glyphicon-flash text-success"></span>
                                        <a href="">News 2</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-group-item" ng-click="showDescription('Newsletters')">
                                <span class="glyphicon glyphicon-file text-info"></span>
                                <a href="">Newsletters</a>
                            </li>

                            <li class="list-group-item" ng-click="showDescription('Comments')">
                                <span class="glyphicon glyphicon-comment text-success"></span>
                                <a href="">Comments</a>
                                <span class="badge">42</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="hideDescription()">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="glyphicon glyphicon-folder-close">
                                </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" ng-click="showDescription('Reports 1')">
                                <span class="glyphicon glyphicon-pencil text-primary"></span>
                                <a href="">Reports 1</a>
                            </li>

                            <li class="list-group-item" ng-click="showDescription('Reports 2')">
                                <span class="glyphicon glyphicon-flash text-success"></span>
                                <a href="">Reports 2</a>
                            </li>

                            <li class="list-group-item" ng-click="showDescription('Reports 3')">
                                <span class="glyphicon glyphicon-file text-info"></span>
                                <a href="">Reports 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" ng-click="hideDescription()">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <span class="glyphicon glyphicon-folder-close">
                                </span>News Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-pencil text-primary"></span>
                                <a href="" ng-click="showDescription('Articles')">Articles</a>
                                <ul class="list-group">
                                    <li class="list-group-item"  ng-click="showDescription('News Articles 1')">
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>
                                        <a href="">Articles 1</a>
                                    </li>
                                    <li class="list-group-item" ng-click="showDescription('News Articles 2')">
                                        <span class="glyphicon glyphicon-flash text-success"></span>
                                        <a href="">Articles 2</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-flash text-success"></span>
                                <a href="">News</a>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-click="showDescription('News News 1')">
                                        <span class="glyphicon glyphicon-pencil text-primary"></span>
                                        <a href="">News 1</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <ul class="file-tree" style="margin-top:15px;">
                <li ng-click="showDescription('rootnode')">
                    <a href="#">Routing plan [Node ID 1234]</a>
                    <ul>
                        <li ng-click="showDescription('table')">
                            <a href="#">Dial Pattern Routing</a>
                            <ul>
                                <li ng-click="showDescription('play')">
                                    <a href="#">[Default] play node</a>
                                    <ul>
                                        <li ng-click="showDescription('ivr')">
                                            <a href="#">IVR Routing</a>
                                            <ul>
                                                <li ng-click="showDescription('terminate')">
                                                    <a href="#">Terminate</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li ng-click="showDescription('dial1')">
                                    <a href="#">[sadsa]Dial Pattern Routing</a>
                                    <ul>
                                        <li ng-click="showDescription('terminate')">
                                            <a href="#link5">[D] disconnect</a>
                                        </li>
                                        <li ng-click="showDescription('terminate')">
                                            <a href="#link6">[S] disconnect</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6" style="border-left: 1px solid #31708f;padding-top:15px;">
            <div ng-show="rootnode" class="panel panel-default" style="margin-right:15px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Routing Plan </h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Dialed pattern routing</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Disconnect</label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optradio">Terminate call</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Time based routing</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Extension based routing</label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optradio">IVR menu routing</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Pin based routing</label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">Play</label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optradio">Origin based routing</label>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-show="dial1" class="panel panel-default" style="margin-right:15px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Dial Pattern</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <input id="switch-onColor" type="checkbox" checked data-on-color="primary"> Dialed pattern</input>
                    </p>
                    <p>
                        <input id="switch-onColor" type="checkbox" data-on-color="primary"> Origin based routing</input>
                    </p>
                    <p>
                        <input id="switch-onColor" type="checkbox" data-on-color="primary"> Pin based routing</input>
                    </p>
                    <p>
                        <input id="switch-onColor" type="checkbox" data-on-color="primary"> Time based routing</input>
                    </p>
                    <p>
                        <input id="switch-onColor" type="checkbox" data-on-color="primary"> IVR menu routing</input>
                    </p>
                    <p>
                        <input id="switch-onColor" type="checkbox" data-on-color="primary"> Disconnect</input>
                    </p>
                </div>
            </div>

            <div ng-show="play" class="panel panel-default" style="margin-right:15px;">

                <select style="width:80%;" class="selectpicker" multiple>
                    <option>Pin based routing</option>
                    <option>Origin based routing</option>
                    <option>Time based routing</option>
                    <option>Dialed pattern</option>
                    <option>IVR menu routing</option>
                    <option>Disconnect</option>
                </select>
            </div>

            <div ng-show="ivr" class="" style="margin-right:15px;">
                <form>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Dialed pattern routing</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Disconnect</label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="optradio">Terminate call</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Time based routing</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Extension based routing</label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="optradio">IVR menu routing</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Pin based routing</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">Play</label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" name="optradio">Origin based routing</label>
                    </div>
                </form>
            </div>

            <div ng-show="table" class="panel panel-default" style="margin-right:15px;">
                    <div class="panel-heading">
                            <h3 class="panel-title">Dialed Pattern Routing</h3>
                        </div>
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Node Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><input id="switch-onColor" type="checkbox" checked data-on-color="primary"></input></th>
                            <td>Default</td>
                            <td>All patterns</td>
                            <td>Disconnect</td>
                        </tr>
                        <tr>
                            <th scope="row"><input id="switch-onColor" type="checkbox" data-on-color="primary"></input></th>
                            <td>sadsa</td>
                            <td>pattern</td>
                            <td>Disconnect</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>